<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<style type="text/css" media="all">
			<!--
				body {
						background-color: black; color: white;
					}
				h1 {	font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
						color: white;
						font-size: 75px;
					}
				h2 {	font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
						color: white;
						font-size: 50px;
					}
				h3 {	font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
						color: white;
						font-size: 25px;
					}
				h4 {	font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
						color: white;
						font-size: 15px;
					}
			-->
		</style>
	</head>
	<body>
		<center>
		        <img src="nginx.png"/>
		        <br/>
		        <br/>
		        <h3>You loaded node</h3>
		        <h1><%= @fqdn %></h1>
		        <h3>Want this vagrantfile demo?</h3>
		        <h3>http://tinyurl.com/nodeplight</h2>
		<center>
	<body>
</html>